
# hidden files created by Windows
Thumbs.db
desktop.ini
.DS_Store
*~
*.bak
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
*.zip

# the composer package lock file and install directory
/composer.lock
/fuel/vendor

# app files
fuel/app/logs/*

fuel/app/config/auth.php
fuel/app/config/config.php
fuel/app/config/crypt.php
fuel/app/config/db.php
fuel/app/config/email.php
fuel/app/config/file.php
fuel/app/config/mapbox.php
fuel/app/config/payouts.php
fuel/app/config/rabbitmq.php
fuel/app/config/rest.php
fuel/app/config/routes.php
fuel/app/config/session.php
fuel/app/config/simpleauth.php
fuel/app/config/siteroutes.php
fuel/app/config/sitesetup.php
fuel/app/config/so_billing.php
fuel/app/config/upload.php
fuel/app/config/migrations.php
fuel/app/config/solr.php

fuel/app/config/test/*
fuel/app/config/development/*
fuel/app/config/production/*
fuel/app/config/environments/*

fuel/core/vendor/phpquickprofiler/display.php
so_files
.htaccess
sitemap.xml.gz
.tmb
.quarantine
config.codekit

# paypal logs
fuel/packages/paypal/vendor/paypal/library/Lionite/logs

public/assets/img/avatars/*
!public/assets/img/avatars/default.png
public/assets/img/addons
public/assets/img/addonassets/*
public/assets/img/support/*
public/assets/img/blog/*
Thumbs.db

# ignores for composer-related items
fuel/app/vendor
fuel/app/cache
fuel/app/composer.lock

# any of the fuel packages installed by default
/docs/
/fuel/core/
/fuel/packages/auth/
/fuel/packages/email/
/fuel/packages/oil/
/fuel/packages/orm/
/fuel/packages/parser/